/* Catalog
----------------------------------------- */
.commerce-list-children .commerce-list-child {
    float: left;
}


/* Shopping Cart
----------------------------------------- */
.commerce-cart .commerce-cart-form {
    padding: 0;
}
    .commerce-cart .commerce-cart-form .commerce-cart-items,
    .commerce-cart .commerce-cart-form .commerce-cart-postage,
    .commerce-cart .commerce-cart-form .commerce-cart-actions {
        padding: 0;
    }

.commerce-cart .commerce-cart-items table {
    width: 100%;
    border: 0;
}
    .commerce-cart .commerce-cart-items th {
        font-weight: bold;
        font-size: 1.1em;
        padding-bottom: 1em;
    }
    .commerce-cart .commerce-cart-items .subtotal th {
        border-top: 1px solid #ccc;
        text-align: right;
        padding: 1em 1em 1em 0;
    }
    .commerce-cart .commerce-cart-items td {
        padding: 1em 0;
        border: 0;
        border-top: 1px solid #ccc;
    }

    .commerce-cart .commerce-cart-items input {
        width: 30px;
        padding: 2px 3px;
        margin-right: 1em;
        border: 2px solid #ccc;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    
.commerce-cart .commerce-cart-postage {}
    .commerce-cart .commerce-cart-postage label {
        display: inline;
        color: #000;
    }
    .commerce-cart .commerce-cart-postage select {
        font-size: 0.75em;
    }
    .commerce-cart .commerce-cart-postage .commerce-cart-total {
        padding-right: 45px;
        text-align: right;
    }

.commerce-cart .commerce-cart-form .commerce-cart-actions {
    padding: 10px 40px 10px 0;
    text-align: right;
}


/* Checkout Page
----------------------------------------- */
#CheckoutForm_CheckoutForm label { 
    display: block;
}

#CheckoutForm_CheckoutForm fieldset div.field {
    width: 47%;
    float: left;
    margin-right: 10px;
}

#CheckoutForm_CheckoutForm .Actions {
    text-align: right;
    padding-right: 8%;
}

#CheckoutForm_CheckoutForm .action {
    color: #fff;
    background: #ec2028 url("../images/arrow-red.gif") no-repeat 98% 50%;
}

#CheckoutForm_CheckoutForm .message {
    font-weight: bold;
    width: 90%;
    color: #fff !important;
    padding: 5px;
    background-color: #ec2028 !important;
    font-size: 12pt !important;
}


/* Order Summary
----------------------------------------- */
.summary div {
    width: 45%;
}

.summary .back {
    float: left;
}

#SagePayForm {
    clear: both;
}
