/* Generic Selectors
----------------------------------------- */
.commerce-clear {
    clear: both;
}

/* Catalog
----------------------------------------- */
.commerce-list-children .commerce-list-child {
    float: left;
}

.commerce-form-quantity label.left,
.commerce-form-quantity div.middleColumn,
#Form_AddItemForm fieldset,
#Form_AddItemForm div.clear,
#Form_AddItemForm div.Actions {
    float: left;
    clear: none;
    margin: 0;
}

.commerce-form-quantity label.left,
.commerce-form-quantity div.middleColumn,
#Form_AddItemForm div.clear,
#Form_AddItemForm div.Actions {
    margin: 0.5em 1em 0.5em 0;
}

.commerce-form-quantity label.left {
    line-height: 2.5em;
}

.commerce-form-quantity div.middleColumn input {
    width: 4em;
}

 {
    clear: none;
    float: left;
}

/* Shopping Cart
----------------------------------------- */
.commerce-cart .commerce-cart-form {
    padding: 0;
}
    .commerce-cart .commerce-cart-form .commerce-cart-items,
    .commerce-cart .commerce-cart-form .commerce-cart-postage,
    .commerce-cart .commerce-cart-form .commerce-cart-actions {
        padding: 0;
    }

.commerce-cart .commerce-cart-items table {
    width: 100%;
    border: 0;
}
    .commerce-cart .commerce-cart-items th {
        font-weight: bold;
        font-size: 1.1em;
        padding-bottom: 1em;
    }
    .commerce-cart .commerce-cart-items .subtotal th {
        border-top: 1px solid #ccc;
        text-align: right;
        padding: 1em 1em 1em 0;
    }
    .commerce-cart .commerce-cart-items td {
        padding: 1em 0;
        border: 0;
        border-top: 1px solid #ccc;
    }

    .commerce-cart .commerce-cart-items input {
        width: 30px;
        padding: 2px 3px;
        margin-right: 1em;
        border: 2px solid #ccc;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    
.commerce-cart .commerce-cart-postage {}
    .commerce-cart .commerce-cart-postage label {
        display: inline;
        color: #000;
    }
    .commerce-cart .commerce-cart-postage select {
        display: inline;
        font-size: 0.75em;
    }
    .commerce-cart .commerce-cart-postage .commerce-cart-total {
        text-align: center;
        color: #fff;
        font-size: 1.5em;
        padding: 0.5em;
        margin: 1em 0;
        background: #95C902;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
        .commerce-cart .commerce-cart-postage .commerce-cart-total strong {
            text-transform: uppercase;
            font-weight: bold;
        }

.commerce-cart .commerce-cart-payment {}
    .commerce-cart .commerce-cart-payment .optionset {
        padding-left: 0.4em;
        margin-left: 0;
        margin-top: 0.5em;
    }
    .commerce-cart .commerce-cart-payment .optionset li {
        font-size: 1em;
        color: #000;
    }

.commerce-cart .commerce-cart-actions {
    padding: 10px 40px 10px 0;
    text-align: right;
}
    .commerce-cart .commerce-cart-actions .action {
        display: inline;
    }


/* Checkout Page
----------------------------------------- */
#CheckoutForm_CheckoutForm label { 
    display: block;
}

#CheckoutForm_CheckoutForm fieldset div.billing_fields {
    float: left;
    width: 49%;
}
#CheckoutForm_CheckoutForm fieldset div.delivery_fields {
    float: right;
    width: 49%;
}

#CheckoutForm_CheckoutForm .message {
    font-weight: bold;
    color: #fff !important;
    padding: 5px;
    background-color: #ec2028 !important;
    font-size: 12pt !important;
}

#CheckoutForm_CheckoutForm .error {
    border: 1px solid #ec2028 ;
}

#CheckoutForm_CheckoutForm .commerce-action-back {
    float: left;
}
#CheckoutForm_CheckoutForm .commerce-action-next {
    float: right;
}

/* Order Summary
----------------------------------------- */
.Payment .commerce-summary {
    padding: 1em 0 0 0;
}
    .Payment .commerce-summary .commerce-summary-billing {
        float: left;
        width: 49%;
        padding: 0 0 1em 0;
    }
    .Payment .commerce-summary .commerce-summary-delivery {
        float: right;
        width: 49%;
        padding: 0 0 1em 0;
    }

.Payment .commerce-action-back {
    float: left;
}
.Payment .commerce-action-next {
    float: right;
}

