/* Generic Selectors
----------------------------------------- */
.commerce-clear {
    clear: both;
}

/* Add Item Form
----------------------------------------- */
.commerce-form-additem {
    padding: 0;
}
    .commerce-form-additem .field {
        clear: both;
        padding-bottom: 0.5em;
    }
    .commerce-form-additem .commerce-form-additem-quantity label.left {
        line-height: 2em;
        padding-right: 1em;
        float: left;
    }
    .commerce-form-additem .commerce-form-additem-quantity input {
        width: 3.5em;
        float: left;
    }
    .commerce-form-additem .Actions {
        text-align: right;
    }

/* Catalog
----------------------------------------- */
.commerce-list-children .commerce-list-child {
    float: left;
    padding: 0 10px;
}
    .commerce-list-children .commerce-list-child h2 {
        float: left;
    }
    .commerce-list-children .commerce-list-child .commerce-list-price {
        float: right;
    }


/* Product
----------------------------------------- */
.commerce-product .commerce-product-images {
    width: 49%;
    float: left;
}
    .commerce-product .commerce-product-images .thumbs {
        padding-top: 0.75em;
    }
    .commerce-product .commerce-product-images img {
        border: 1px solid #c3c3c3;
    }

.commerce-product .commerce-product-summary {
    width: 49%;
    float: right;
}
.commerce-product .commerce-product-details {
    padding-top: 1.5em;
}


/* Shopping Cart
----------------------------------------- */
.commerce-cart .commerce-cart-form {
    padding: 0;
}
    .commerce-cart .commerce-cart-form .commerce-cart-items,
    .commerce-cart .commerce-cart-form .commerce-cart-postage,
    .commerce-cart .commerce-cart-form .commerce-cart-actions {
        padding: 0;
    }

.commerce-cart .commerce-cart-items table {
    width: 100%;
    border: 0;
}
    .commerce-cart .commerce-cart-items th {
        font-weight: bold;
        font-size: 1.1em;
        padding-bottom: 0.5em;
    }
    .commerce-cart .commerce-cart-items .subtotal th {
        border-top: 1px solid #ccc;
        text-align: right;
        padding: 1em 1em 1em 0;
    }
    .commerce-cart .commerce-cart-items .image {
        width: 12%;
    }
    .commerce-cart .commerce-cart-items .description {
        width: 65%;
    }
    
    .commerce-cart .commerce-cart-items td {
        padding: 1em 0;
        border: 0;
        border-top: 1px solid #ccc;
    }

    .commerce-cart .commerce-cart-items input {
        width: 30px;
        padding: 2px 3px;
        margin-right: 1em;
        border: 2px solid #ccc;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    
.commerce-cart .commerce-cart-postage {}
    .commerce-cart .commerce-cart-postage label {
        display: inline;
        color: #000;
    }
    .commerce-cart .commerce-cart-postage select {
        display: inline;
    }
    .commerce-cart .commerce-cart-postage .commerce-cart-total {
        text-align: center;
        color: #fff;
        font-size: 1.5em;
        padding: 0.5em;
        margin: 1em 0;
        background: #95C902;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
        .commerce-cart .commerce-cart-postage .commerce-cart-total strong {
            text-transform: uppercase;
            font-weight: bold;
        }

.commerce-cart .commerce-cart-payment {}
    .commerce-cart .commerce-cart-payment .optionset {
        padding-left: 0.4em;
        margin-left: 0;
        margin-top: 0.5em;
    }
    .commerce-cart .commerce-cart-payment .optionset li {
        font-size: 1em;
        color: #000;
    }

.commerce-cart .commerce-cart-actions {
    padding: 10px 40px 10px 0;
    text-align: right;
}
    .commerce-cart .commerce-cart-actions .action {
        display: inline;
    }


/* Checkout Page
----------------------------------------- */
#CheckoutForm_CheckoutForm label { 
    display: block;
}

#CheckoutForm_CheckoutForm fieldset div.billing_fields {
    float: left;
    width: 49%;
}
#CheckoutForm_CheckoutForm fieldset div.delivery_fields {
    float: right;
    width: 49%;
}

#CheckoutForm_CheckoutForm .message {
    font-weight: bold;
    color: #fff !important;
    padding: 5px;
    background-color: #ec2028 !important;
    font-size: 12pt !important;
}

#CheckoutForm_CheckoutForm .error {
    border: 1px solid #ec2028 ;
}

#CheckoutForm_CheckoutForm .commerce-action-back {
    float: left;
}
#CheckoutForm_CheckoutForm .commerce-action-next {
    float: right;
}

/* Order Summary
----------------------------------------- */
.Payment .commerce-summary {
    padding: 1em 0 0 0;
}
    .Payment .commerce-summary .commerce-summary-billing {
        float: left;
        width: 49%;
        padding: 0 0 1em 0;
    }
    .Payment .commerce-summary .commerce-summary-delivery {
        float: right;
        width: 49%;
        padding: 0 0 1em 0;
    }

.Payment .commerce-action-back {
    float: left;
}
.Payment .commerce-action-next {
    float: right;
}

